@page "/AhojNeboj"

<PageTitle>Ahoj, ahoj, ničeho se neboj!</PageTitle>

<h1>@ahojNeboj</h1>

Vitejte v moji aplikaci.

@code
{
    string ahojNeboj = "Ahoj, ahoj, ničeho se neboj!";
}

<!-- a mezi píšeš komentář -->
