@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<Dashboard />

@* <br>
<button class="zen-button" @onclick="Increment">Antistress tlačítko</button>
<br> *@
@* Hodnota úlevy: @counter *@
@code
{
    int counter = 0;

    public void Increment()
    {
        counter++;
    }
}
