@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<Dashboard />

<h2>@ahojNeboj</h2>

<br>
<button class="zen-button" @onclick="Increment">Antistress tlačítko</button>
<br>
Hodnota úlevy: @counter
@code
{
    string ahojNeboj = "Ahoj, ahoj, ničeho se neboj! Všechno bude oukej!";

    int counter = 0;

    public void Increment()
    {
        counter++;
    }
}
